<div class="slider">
	<div class="header-bottom">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="logo">
						<h1><a class="navbar-brand" href="index.html"><span>Kayseri</span>Seker</a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-1" id="cl-effect-1">
						<ul class="nav navbar-nav">
							<li><a href="#home" class="active" data-hover="Home">ANA SAYFA</a></li>
							<li><a href="#about" class="scroll" data-hover="About">HAKKIMIZDA</a></li>
							<li><a href="#services" class="scroll" data-hover="Services">HİZMETLERİMİZ</a></li>
							<li><a href="#team" class="scroll" data-hover="Team">TAKIMIMIZ</a></li>
							<li><a href="#gallery" class="scroll" data-hover="Projects">GALERİ</a></li>
							<li><a href="#contact" class="scroll" data-hover="Contact">İLETİŞİM</a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>

		</div>
	</div>
	<div class="callbacks_container">
		<ul class="rslides" id="slider3">
			<li>

				<div class="slider-info">
					<h3>
						ÜRETİM BAŞARIMIZI GELECEĞE TAŞIYORUZ
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Daha Fazlası..</a></div>
				</div>
			</li>
			<li>
				<div class="slider-info">
					<h3>ÜRETİM BAŞARIMIZI GELECEĞE TAŞIYORUZ</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
					<div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Daha Fazlası..</a></div>
				</div>
			</li>

		</ul>

	</div>
	<div class="clearfix"></div>
</div>